<?xml version="1.0" encoding="UTF-8"?>
<softwareUpdater>
	<softwares>
	
		<software active="true">
			<name>7-Zip</name>
			<installPath>C:\Program Files\7-Zip\7zG.exe</installPath>
			<installationArguments>%installationfile% /S</installationArguments>
			<processes>7zFM,7zG,7z</processes>
			<website>http://7-zip.de/index.html</website>
			<versionString>7-Zip * (</versionString>
			<downloadLink>http://7-zip.org/a/7z*-x64.exe</downloadLink>
		</software>
		
		<software active="true">
			<name>Adobe Acrobat Reader DC (German)</name>
			<osVersion>7,8,10</osVersion>
			<installPath>C:\Program Files (x86)\Adobe\Acrobat Reader DC\Reader\AcroRd32.exe</installPath>
			<installationArguments>%installationfile% /sAll /rs</installationArguments>
			<processes>AcroRd32</processes>
			<website>https://get.adobe.com/de/reader/</website>
			<versionString>Reader_DC_20*_German_for_Windows</versionString>
			<downloadLink versionFormat="%major%%minor%%revision%%build%" validateVersion="false">http://ardownload.adobe.com/pub/adobe/reader/win/AcrobatDC/*/AcroRdrDC*_de_DE.exe</downloadLink>
		</software>
		
		<software active="true">
			<name>Bitvise SSH Client</name>
			<installPath>C:\Program Files (x86)\Bitvise SSH Client\BvSsh.exe</installPath>
			<installationArguments>%installationfile% -acceptEULA</installationArguments>
			<processes>BvSsh,totermw</processes>
			<website>https://www.bitvise.com/ssh-client-download</website>
			<versionString>- version *, size</versionString>
			<downloadLink>https://dl.bitvise.com/BvSshClient-Inst.exe</downloadLink>
		</software>
		
		<software active="true">
			<name>CCleaner free</name>
			<installPath>C:\Program Files\CCleaner\CCleaner64.exe</installPath>
			<installationArguments>%installationfile% /S</installationArguments>
			<processes>CCleaner64</processes>
			<website>https://www.piriform.com/ccleaner/version-history</website>
			<versionString>CCleaner v*&lt;/a&gt;</versionString>
			<downloadLink versionFormat="%major%%minor%">http://download.piriform.com/ccsetup*.exe</downloadLink>
		</software>
		
		<software active="true">
			<name>Android Studio</name>
			<osVersion>7,8,10</osVersion>
			<installPath>C:\Program Files\Android\Android Studio\bin\studio64.exe</installPath>
			<installationArguments>%installationfile% /S /Allusers</installationArguments>
			<processes>studio64</processes>
			<website>https://developer.android.com/studio/releases/index.html</website>
			<versionString>">* (</versionString>
			<downloadLink>https://dl.google.com/dl/android/studio/install/*/android-studio-ide-*-windows.exe</downloadLink>
		</software>
		
		<software active="true">
			<name>Dropbox</name>
			<osVersion>7,8,10</osVersion>
			<installPath>C:\Program Files (x86)\Dropbox\Client\Dropbox.exe</installPath>
			<installationArguments>%installationfile% /S</installationArguments>
			<processes>Dropbox</processes>
			<website>https://www.dropboxforum.com/t5/Desktop-client-builds/bd-p/101003016</website>
			<versionString>&gt;Stable Build *&lt;/a&gt;</versionString>
			<downloadLink>https://dl-web.dropbox.com/installer?authenticode_sign=True&amp;build_no=*&amp;juno=True&amp;juno_use_program_files=True&amp;plat=win&amp;tag=eyJUQUdTIjoiZUp5clZpcE9MUzdPek0tTHoweFJzbEl3TkRFME1ERTBNakkydHJBME1yZXdNRFkyTXpFM01EVXhNell5TXpNME5ESXdNRFUzTVRDdUJRQ25lQTJrQE1FVEEifQ&amp;tag_token=AIwc8dMsn2dRnhLSlBpG4P8atqe8oGv9cBYiMYCocyYJlA</downloadLink>
		</software>
		
		<software active="true">
			<name>Easy2Sync Business</name>
			<installPath>C:\Program Files (x86)\Easy2Sync\Easy2Sync64Bit.exe</installPath>
			<installationArguments>%installationfile%</installationArguments>
			<processes>Easy2Sync64Bit,Easy2Sync</processes>
			<website>https://www.itsth.de/de/produkte/easy2sync_down.php</website>
			<versionString>&lt;b&gt;*&lt;/b&gt;</versionString>
			<downloadLink>http://www.itsth.de/download/licensed/3fade2d44de25e72670f45f8782f9a828e9769b1f2d1de05d47c7bd057eecf9b/Easy2SyncD_Business.exe</downloadLink>
		</software>
		
		<software active="true">
			<name>GIMP 2</name>
			<installPath>C:\Program Files\GIMP 2\bin\gimp-*.exe</installPath>
			<installationArguments>%installationfile% /VERYSILENT /NORESTART /MERGETASKS="!desktopicon"</installationArguments>
			<processes>gimp-*</processes>
			<website>https://www.gimp.org/</website>
			<versionString>&lt;span id=&apos;ver&apos;&gt;*&lt;/span&gt;</versionString>
			<downloadLink>https://download.gimp.org/mirror/pub/gimp/v2.8/windows/gimp-*-setup.exe</downloadLink>
		</software>
		
		<!-- TODO (deactivated): Error 403 from FileZilla website - Maybe the client is blocked? -->
		<software active="false">
			<name>FileZilla</name>
			<installPath>C:\Program Files\FileZilla FTP Client\filezilla.exe</installPath>
			<installationArguments>%installationfile% /S /user=all</installationArguments>
			<processes>filezilla</processes>
			<website>https://filezilla-project.org/download.php</website>
			<versionString>&lt;p&gt;The latest stable version of FileZilla Client is *&lt;/p&gt;</versionString>
			<downloadLink>https://download.filezilla-project.org/client/FileZilla_*_win64-setup_bundled.exe</downloadLink>
		</software>
		
		<!-- TODO (deactivated): The version can not be detected correctly from the website -->
		<software active="false">
			<name>Git</name>
			<installPath>C:\Program Files\Git\git-bash.exe</installPath>
			<installationArguments>%installationfile% /VERYSILENT</installationArguments>
			<processes>git-bash,git-gui,git,git-cmd</processes>
			<website>https://git-scm.com/</website>
			<versionString>data-win=&quot;*&quot;</versionString>
			<downloadLink>https://github.com/git-for-windows/git/releases/download/v*.windows.2/Git-*.2-64-bit.exe</downloadLink>
		</software>
		
		<!-- TODO (deactivated): The version can not be detected correctly from the website, because the website need to load some javascript -->
		<software active="false">
			<name>Google Chrome</name>
			<installPath>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</installPath>
			<installationArguments>Msiexec /I %installationfile% /q</installationArguments>
			<processes>chrome</processes>
			<website wait="3">https://enterprise.google.com/intl/de/chrome/chrome-browser/</website>
			<versionString>&lt;span ng-bind=&quot;win64Version&quot; class=&quot;ng-binding&quot;&gt;*&lt;/span&gt;</versionString>
			<downloadLink>https://dl.google.com/tag/s/appguid%3D%7B8A69D345-D564-463C-AFF1-A69D9E530F96%7D%26iid%3D%7BA3DBB9B6-B18F-D0FF-EB93-91DD21F6390F%7D%26lang%3Den%26browser%3D4%26usagestats%3D0%26appname%3DGoogle%2520Chrome%26needsadmin%3Dtrue%26ap%3Dx64-stable%26brand%3DGCEA/dl/chrome/install/googlechromestandaloneenterprise64.msi</downloadLink>
		</software>
		
		<!-- TODO (deactivated): Use the direct download link (not the one from the website) -->
		<software active="false">
			<name>HeidiSQL</name>
			<installPath>C:\Program Files (x86)\HeidiSQL\heidisql.exe</installPath>
			<installationArguments>%installationfile% /VERYSILENT /SP- /SUPPRESSMSGBOXES /NORESTART</installationArguments>
			<processes>heidisql</processes>
			<website>https://www.heidisql.com/download.php</website>
			<versionString>&lt;label&gt;Revision&lt;br /&gt;*&lt;/label&gt;</versionString>
			<downloadLink>https://www.heidisql.com/installers/HeidiSQL_*_Setup.exe</downloadLink>
		</software>
		
		<!-- TODO (deactivated): Use the direct download link (not the one from the website) -->
		<software active="false">
			<name>KeePass 2</name>
			<installPath>C:\Program Files (x86)\KeePass Password Safe 2\KeePass.exe</installPath>
			<installationArguments>%installationfile% /VERYSILENT</installationArguments>
			<processes>KeePass</processes>
			<website>https://keepass.info/download.html</website>
			<versionString>&lt;th colspan=&quot;2&quot;&gt;KeePass *&lt;/th&gt;</versionString>
			<downloadLink>https://kent.dl.sourceforge.net/project/keepass/KeePass%202.x/*/KeePass-*-Setup.exe</downloadLink>
		</software>
		
		<!-- TODO (deactivated): The website does not contain the version string... -->
		<software active="false">
			<name>Mozilla Firefox</name>
			<installPath>C:\Program Files (x86)\Mozilla Firefox\firefox.exe</installPath>
			<installationArguments>%installationfile% -ms</installationArguments>
			<processes>firefox</processes>
			<website>https://www.mozilla.org/de/firefox/new/</website>
			<versionString>data-latest-firefox=&quot;*&quot;</versionString>
			<downloadLink>https://download-installer.cdn.mozilla.net/pub/firefox/releases/*/win64/de/Firefox%20Setup%20*.exe</downloadLink>
		</software>
		
		<!-- Not silent: -->
		
		<software active="true">
			<name>Adobe Flash Player for Chrome</name>
			<installPath>C:\Windows\SysWOW64\Macromed\Flash\FlashUtil*_pepper.exe</installPath>
			<installationArguments>%installationfile%</installationArguments>
			<processes>chrome</processes>
			<website>https://get.adobe.com/de/flashplayer/</website>
			<versionString>&lt;strong&gt;Version *&lt;/strong&gt;</versionString>
			<downloadLink versionFormat="%major%">https://admdownload.adobe.com/bin/live/flashplayer*pp_xa_install.exe</downloadLink>
		</software>
		
		<software active="true">
			<name>Adobe Flash Player for Opera</name>
			<installPath>C:\Windows\SysWOW64\Macromed\Flash\FlashUtil*_pepper.exe</installPath>
			<installationArguments>%installationfile%</installationArguments>
			<processes>opera</processes>
			<website>https://get.adobe.com/de/flashplayer/</website>
			<versionString>&lt;strong&gt;Version *&lt;/strong&gt;</versionString>
			<downloadLink versionFormat="%major%">https://admdownload.adobe.com/bin/live/flashplayer*pp_xa_install.exe</downloadLink>
		</software>
		
		<software active="true">
			<name>Adobe Flash Player for Firefox</name>
			<installPath>C:\Windows\SysWOW64\Macromed\Flash\FlashUtil*_Plugin.exe</installPath>
			<installationArguments>%installationfile%</installationArguments>
			<processes>firefox</processes>
			<website>https://get.adobe.com/de/flashplayer/</website>
			<versionString>&lt;strong&gt;Version *&lt;/strong&gt;</versionString>
			<downloadLink versionFormat="%major%">https://admdownload.adobe.com/bin/live/flashplayer*_xa_install.exe</downloadLink>
		</software>
		
		<software active="true">
			<name>Adobe Flash Player for Internet Explorer</name>
			<osVersion>XP,Vista,7</osVersion>
			<installPath>C:\Windows\SysWOW64\Macromed\Flash\FlashUtil*_ActiveX.exe</installPath>
			<installationArguments>%installationfile%</installationArguments>
			<processes>iexplore</processes>
			<website>https://get.adobe.com/de/flashplayer/</website>
			<versionString>&lt;strong&gt;Version *&lt;/strong&gt;</versionString>
			<downloadLink versionFormat="%major%">https://admdownload.adobe.com/bin/live/flashplayer*ax_xa_install.exe</downloadLink>
		</software>
		
		<!-- No updates-->
		
		<software active="true" update="false">
			<name>Minecraft</name>
			<installPath>C:\Program Files (x86)\Minecraft\MinecraftLauncher.exe</installPath>
			<installationArguments>%installationfile% /qn /quiet /NORESTART</installationArguments>
			<processes>MinecraftLauncher</processes>
			<downloadLink>https://launcher.mojang.com/download/MinecraftInstaller.msi</downloadLink>
		</software>
		
		<software active="true" update="false">
			<name>Epic Games Launcher</name>
			<installPath>C:\Program Files\Epic Games\Launcher\Portal\Binaries\Win32\EpicGamesLauncher.exe</installPath>
			<installationArguments>msiexec.exe /I &quot;%installationfile%&quot; /qn /quiet /norestart</installationArguments>
			<processes>EpicGamesLauncher</processes>
			<downloadLink>https://launcher-public-service-prod06.ol.epicgames.com/launcher/api/installer/download/EpicGamesLauncherInstaller.msi</downloadLink>
		</software>
		
		<!-- Not silent and without updates: -->
		
		<software active="true" update="false">
			<name>Brother MFL-Pro Suite for MFC-J5910DW</name>
			<installPath>C:\Program Files (x86)\Brother\Brmfl11b\Brinstck.exe</installPath>
			<installationArguments>%installationfile%</installationArguments>
			<processes>AddrBook,Brinstck,brmfrmss,BrRemPnP,BrScUtil,BrStDvPt,cvtifmax,FAXRX,PCfxDial,PCfxSet,Brolink0,BrLogRx,BrCcBoot,BrCcUxSys,BrCtrlCntr,BrMapiSend,BrTwnAccs,PtProv64</processes>
			<website>http://support.brother.com/g/b/downloadend.aspx?c=de&amp;lang=de&amp;prod=mfcj5910dw_all&amp;os=93&amp;dlid=dlf004746_000&amp;flang=17&amp;type3=11</website>
			<versionString>&lt;em&gt;*&lt;br&gt;(C1)&lt;/em&gt;</versionString>
			<downloadLink>http://download.brother.com/welcome/dlf004746/MFC-J5910DW-inst-C1-eu1.EXE</downloadLink>
		</software>
		
		<software active="true" update="false">
			<name>Blizzard Battle.net Gameclient</name>
			<installPath>C:\Program Files\Epic Games\Launcher\Engine\Binaries\Win32\EpicGamesLauncher.exe</installPath>
			<installationArguments>%installationfile%</installationArguments>
			<processes>EpicGamesLauncher</processes>
			<downloadLink>https://eu.battle.net/download/getInstaller?os=win&amp;installer=Battle.net-Setup.exe</downloadLink>
		</software>
		
	</softwares>
</softwareUpdater>